.places h1 {
    text-align: left;
    font-size: 30px;
}
.places .my_articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.places .my_articles article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px ridge;
    border-radius: 4px;
    position: relative;
}

.places article h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 0;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 20px;
}


.information {
    height: 80px;
    border-top: #DDDDDD 1px solid;
    border-bottom: #DDDDDD 1px;
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    padding-left: 50px;
}
.max_guest {
    width: 100px;
    background: url("../images/icon_group.png") no-repeat;
}
.number_rooms {
    width: 100px;
    background: url("../images/icon_bed.png") no-repeat;
}
.number_bathrooms {
    width: 100px;
    background: url("../images/icon_bath.png") no-repeat;
}
.information p {
    margin-top: 50px;
}
.user {
    margin-top: 30px;
}